<a href="https://colab.research.google.com/github/ElinorZhang0/ElinorZhang0/blob/main/Mailing_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conclusion

**COST/MAILINGï¼š**
**RBC Media	Spending**
*   2022-05-10 0:00:00	\$ 99,230
*   Population: 50789 (CA-16)
*   Cost / mailing: \$ 1.95


---


*   2022-05-18 0:00:00	\$ 96,880
*   Population: 70554 (CA-16)
*   Cost / mailing: \$ 1.37


---

*   2022-05-27 0:00:00	\$ 84,000
*   Population: 70554 (CA-16)
*   Cost / mailing: \$ 1.19


---

**Average cost per mailer: \$ 1.5**


---



**DUPILICATES:**

**CA-16 ONLY**
* CA_16_Mail_List_Large: 2077 rows
* CA_16PrimaryUniverse: 0 rows 
* CA_16_Mail_List_Large & CA_16PrimaryUniverse:44185 rows

---
**Entire table**
* CA_16_Mail_List_Large: 2502 rows
* CA_16PrimaryUniverse: 0 rows 
* CA_16_Mail_List_Large & CA_16PrimaryUniverse: 58851 rows

**IN VS. OUT DISTRICT**

**CA_16_Mail_List_Large: (98969, 21)**
* IN DISTRICT:  70554
* OUT DISTRICT: 28415


---
**CA_16PrimaryUniverse: (68139, 21)**
* IN DISTRICT: 50789
* OUT DISTRICT: 17350



---


**Santa Clara County**

** CA_16 Primary Universe & Santa Clara county:**

** The correlation between the percentage mailing Santa Clara and voter turnout is 0.133036 which is almost no correlation **

In [ ]:
merge_voter_result_primaryuniverse3_drop_nan.corr()

,count_SC,count_CA_16PrimaryUniverse_mapping_by_zip,percentage_mailling,Registered Voters,Ballots Cast,Voter Turnout
count_SC,1.000000,0.645145,-0.214205,0.605605,0.565144,-0.133628
count_CA_16PrimaryUniverse_mapping_by_zip,0.645145,1.000000,0.454919,0.358319,0.358034,-0.073501
percentage_mailling,-0.214205,0.454919,1.000000,-0.131402,-0.092409,0.133036
Registered Voters,0.605605,0.358319,-0.131402,1.000000,0.959564,-0.153901
Ballots Cast,0.565144,0.358034,-0.092409,0.959564,1.000000,-0.104331
Voter Turnout,-0.133628,-0.073501,0.133036,-0.153901,-0.104331,1.000000

** CA_16 Mail_List_Large & Santa Clara county:**

** The correlation between the percentage mailing Santa Clara and voter turnout is 0.055510 which is almost no correlation **

In [ ]:
m3.corr()

,count_SC,Count_Mail_Large,percentage_mailing_SC,Registered Voters,Ballots Cast,Voter Turnout
count_SC,1.000000,0.720493,-0.257917,0.620193,0.570292,-0.128563
Count_Mail_Large,0.720493,1.000000,0.193816,0.418912,0.415459,-0.077572
percentage_mailing_SC,-0.257917,0.193816,1.000000,-0.172251,-0.120577,0.055510
Registered Voters,0.620193,0.418912,-0.172251,1.000000,0.951237,-0.150988
Ballots Cast,0.570292,0.415459,-0.120577,0.951237,1.000000,-0.092615
Voter Turnout,-0.128563,-0.077572,0.055510,-0.150988,-0.092615,1.000000

# import & connect to drive

In [ ]:
import pandas as pd
from pprint import pprint
from pathlib import Path
import os

In [ ]:
from google.colab import drive
# If drive is not already mounted: 
if not Path('/content/drive').exists():
  drive.mount('/content/drive')

Mounted at /content/drive

# county data

## **Santa Clara Voter Data**

In [ ]:
os.chdir("/content/drive/Shareddrives/Modeling Files/CD16 List/Santa Clara Voter Data")

In [ ]:
ls

MVMJ004_Cust_20220216_090728_16thCongDist.parquet  OneDrive_2_2-17-2022.zip
MVMJ004_Hist_20220216_091049_16thCongDist.parquet  Santa_Clara_Voter_Data.csv

In [ ]:
Santa_Clara = pd.read_parquet('MVMJ004_Cust_20220216_090728_16thCongDist.parquet')

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
Santa_Clara.head()

In [ ]:
Santa_Clara_mapping =['szNameLast','szNameFirst','szSitusAddress','szSitusCity','sSitusZip','sPrecinctID']
Santa_Clara_mapping = pd.DataFrame(Santa_Clara,columns=Santa_Clara_mapping)
print(Santa_Clara_mapping.shape)
# Santa_Clara_mapping.tail()

(353786, 6)

In [ ]:
Santa_Clara_mapping['Name'] = Santa_Clara_mapping['szNameFirst'] + ' '+Santa_Clara_mapping['szNameLast']
Santa_Clara_mapping.insert(0, 'DRLINE', Santa_Clara_mapping['Name'])
# Santa_Clara_mapping.head()

In [ ]:
Santa_Clara_mapping_1 =['DRLINE','szSitusAddress','szSitusCity','sSitusZip','sPrecinctID']
Santa_Clara_mapping_1 = pd.DataFrame(Santa_Clara_mapping,columns=Santa_Clara_mapping_1)
print(Santa_Clara_mapping_1.shape)
# Santa_Clara_mapping_1.head()

(353786, 5)

In [ ]:
Santa_Clara_mapping_1.rename(columns = {'szSitusAddress':'ResidenceAddress', 'szSitusCity':'ResidenceCity',
                              'sSitusZip':'ResidenceZipCode','sPrecinctID':"PRECINCT"}, inplace = True)

In [ ]:
Santa_Clara_mapping_1.head()

,DRLINE,ResidenceAddress,ResidenceCity,ResidenceZipCode,PRECINCT
0,Loretta Jones,1489 Carrington Cir,San Jose,95125,8622
1,Karyn Nielsen,1493 Carrington Cir,San Jose,95125,8622
2,Marjan Bazzazi,1457 Carrington Cir,San Jose,95125,8622
3,Mahmoud Ahmadi,1457 Carrington Cir,San Jose,95125,8622
4,Ashley Murison,1473 Carrington Cir,San Jose,95125,8622

# data processing

In [ ]:
os.chdir("/content/drive/MyDrive/Mailing List")

In [ ]:
ls

 CA_16_Mail_List_Large.csv     CA-16PrimaryUniverse.xlsx
'CA-16 Mail List Large.xlsx'   CA_16PrimaryUniverse.xlsx.csv
 CA-16PrimaryUniverse.csv

## Mail List Large CSV

In [ ]:
CA_16_Mail_List_Large_1 = pd.read_csv('CA_16_Mail_List_Large.csv')

In [ ]:
print(CA_16_Mail_List_Large_1.shape)
# CA_16_Mail_List_Large_1.head()

(98969, 21)

In [ ]:
CA_16_Mail_List_Large_mapping =['DRLINE','MADDRESS1','MCITY','MZIP','PRECINCT']
CA_16_Mail_List_Large_mapping = pd.DataFrame(CA_16_Mail_List_Large_1,columns=CA_16_Mail_List_Large_mapping)
print(CA_16_Mail_List_Large_mapping.shape)
CA_16_Mail_List_Large_mapping.head()

In [ ]:
CA_16_Mail_List_Large_mapping.rename(columns = {'MADDRESS1':'ResidenceAddress', 'MCITY':'ResidenceCity',
                              'MZIP':'ResidenceZipCode'}, inplace = True)

In [ ]:
CA_16_Mail_List_Large_mapping.head()

,DRLINE,ResidenceAddress,ResidenceCity,ResidenceZipCode,PRECINCT
0,Susan Neuendorf,1019 Morton St,Alameda,94501,430002338
1,Rosslyn Sullivan,1100 San Pablo Ave Apt 357,Albany,94706,430002746
2,Elena Kanevsky,Parkspelsvagen 5,Albany,12240,430003423
3,Susannah Zellers,Rudolf-Beyendorff Ring 4,Albany,12249,430003476
4,Sara Silberstein,466 Madison Ave Apt 4,Albany,12208,430003781

In [ ]:
zip_code_CA_16 = [95130,95128,95125,95124,95070,95033,95032, 95030,95014, 95008, 94306, 94305, 94304, 94074, 94062, 94060, 94044, 94040, 94038, 94037, 94028, 94025, 94024,94022,94021,94020,94019]

In [ ]:
CA_16_Mail_List_Large_mapping_by_zip = CA_16_Mail_List_Large_mapping[CA_16_Mail_List_Large_mapping['ResidenceZipCode'].isin(zip_code_CA_16)]
print(CA_16_Mail_List_Large_mapping_by_zip.shape)
CA_16_Mail_List_Large_mapping_by_zip.head()

(70554, 5)

,DRLINE,ResidenceAddress,ResidenceCity,ResidenceZipCode,PRECINCT
1035,Marilyn Bunch,385 Lawndale Ave,Campbell,95008,430002057
1036,Kela Metzger,859 N Central Ave,Campbell,95008,430002062
1037,Rosalie Levy,4024 Twyla Ln,Campbell,95008,430002114
1040,Suzanne Regan,2305 Winchester Blvd Unit 204,Campbell,95008,430002750
1042,Holly Emery,155 E Campbell Ave Ste 235,Campbell,95008,430002756

In [ ]:
CA_16_Mail_List_Large_mapping_by_zip['PRECINCT'] = CA_16_Mail_List_Large_mapping_by_zip['PRECINCT'].astype(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Santa Clara County

In [ ]:
CA_16_Mail_List_Large_mapping_by_zip['PRECINCT']= CA_16_Mail_List_Large_mapping_by_zip["PRECINCT"].str[5:]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
print (CA_16_Mail_List_Large_mapping_by_zip.shape)
CA_16_Mail_List_Large_mapping_by_zip.head()

(70554, 5)

,DRLINE,ResidenceAddress,ResidenceCity,ResidenceZipCode,PRECINCT
1035,Marilyn Bunch,385 Lawndale Ave,Campbell,95008,2057
1036,Kela Metzger,859 N Central Ave,Campbell,95008,2062
1037,Rosalie Levy,4024 Twyla Ln,Campbell,95008,2114
1040,Suzanne Regan,2305 Winchester Blvd Unit 204,Campbell,95008,2750
1042,Holly Emery,155 E Campbell Ave Ste 235,Campbell,95008,2756

In [ ]:
CA_16_Mail_List_Large_mapping_by_zip = CA_16_Mail_List_Large_mapping_by_zip.reset_index()

In [ ]:
CA_16_Mail_List_Large_mapping_by_zip.head()

,index,DRLINE,ResidenceAddress,ResidenceCity,ResidenceZipCode,PRECINCT
0,1035,Marilyn Bunch,385 Lawndale Ave,Campbell,95008,2057
1,1036,Kela Metzger,859 N Central Ave,Campbell,95008,2062
2,1037,Rosalie Levy,4024 Twyla Ln,Campbell,95008,2114
3,1040,Suzanne Regan,2305 Winchester Blvd Unit 204,Campbell,95008,2750
4,1042,Holly Emery,155 E Campbell Ave Ste 235,Campbell,95008,2756

In [ ]:
for i in range (70554):
  if len(CA_16_Mail_List_Large_mapping_by_zip['PRECINCT'][i]) == 4:
    continue
  else:
    CA_16_Mail_List_Large_mapping_by_zip = CA_16_Mail_List_Large_mapping_by_zip.drop(i)
print(CA_16_Mail_List_Large_mapping_by_zip.shape)

(50946, 6)

In [ ]:
count = pd.DataFrame(CA_16_Mail_List_Large_mapping_by_zip['PRECINCT'].value_counts())
count.head()

      PRECINCT
2011       261
2010       252
8143       231
8122       223
2545       223

In [ ]:
CA_16_Mail_List_Large_mapping_by_precinct = count.reset_index()

In [ ]:
CA_16_Mail_List_Large_mapping_by_precinct.head()

  PRECINCT  Count_Mail_Large
0     2011               261
1     2010               252
2     8143               231
3     8122               223
4     2545               223

In [ ]:
CA_16_Mail_List_Large_mapping_by_precinct.rename(columns = {'index':'PRECINCT', "PRECINCT":'Count_Mail_Large'}, inplace = True)

In [ ]:
count_SC = pd.DataFrame(Santa_Clara_mapping_1['PRECINCT'].value_counts())
count_SC.head()

      PRECINCT
8429       834
3408       805
3845       804
2081       792
8230       791

In [ ]:
Santa_Clara_mapping_by_precinct = count_SC.reset_index()

In [ ]:
Santa_Clara_mapping_by_precinct.rename(columns = {'index':'PRECINCT', "PRECINCT":'count_SC'}, inplace = True)

In [ ]:
Santa_Clara_mapping_by_precinct.head()

   PRECINCT  count_SC
0      8429       834
1      3408       805
2      3845       804
3      2081       792
4      8230       791

In [ ]:
Santa_Clara_mapping_by_precinct['PRECINCT'] = Santa_Clara_mapping_by_precinct['PRECINCT'].astype(str)

In [ ]:
m1 = pd.merge(Santa_Clara_mapping_by_precinct, CA_16_Mail_List_Large_mapping_by_precinct, how = 'left')
print(m1.shape)
m1.head()

In [ ]:
percentage_mailing_SC = []
for i in range (912): 
  percentage_mailing_SC.append(m1['Count_Mail_Large'][i]/m1['count_SC'][i])

In [ ]:
m1['percentage_mailing_SC'] = percentage_mailing_SC
print(m1.shape)
m1.head()

In [ ]:
print(m1.shape)
m1.sort_values("Count_Mail_Large", ascending=False).head()

(912, 4)

    PRECINCT  count_SC  Count_Mail_Large  percentage_mailing_SC
161     2011       640             261.0               0.407813
77      2010       711             252.0               0.354430
407     8143       474             231.0               0.487342
84      2545       706             223.0               0.315864
114     8122       681             223.0               0.327460

In [ ]:
os.chdir("/content/drive/MyDrive")

In [ ]:
ls

In [ ]:
voter_result = pd.read_excel('Santa_Clara_June28.xlsx')

In [ ]:
voter_result.head()

    County  Registered Voters  Ballots Cast Voter Turnout
0  0002001                8.0          39.0      487.50 %
1  0002002             2603.0        1133.0       43.53 %
2  0002005             1423.0         670.0       47.08 %
3  0002006             1886.0         746.0       39.55 %
4  0002009             2959.0        1193.0       40.32 %

In [ ]:
voter_result['County']= voter_result["County"].str[3:]

In [ ]:
voter_result.rename(columns = {'County':'PRECINCT'}, inplace = True)

In [ ]:
m2 = pd.merge(m1, voter_result, how = 'left')

In [ ]:
print(m2.shape)
m2.head()

(912, 7)

,PRECINCT,count_SC,Count_Mail_Large,percentage_mailing_SC,Registered Voters,Ballots Cast,Voter Turnout
0,8429,834,NaN,NaN,NaN,NaN,NaN
1,3408,805,21.0,0.026087,NaN,NaN,NaN
2,3845,804,170.0,0.211443,NaN,NaN,NaN
3,2081,792,NaN,NaN,NaN,NaN,NaN
4,8230,791,NaN,NaN,NaN,NaN,NaN

In [ ]:
m2.sort_values("Voter Turnout", ascending=False).head()

,PRECINCT,count_SC,Count_Mail_Large,percentage_mailing_SC,Registered Voters,Ballots Cast,Voter Turnout
843,5767,9,NaN,NaN,30.0,17.0,56.67 %
788,2811,33,5.0,0.151515,61.0,34.0,55.74 %
882,5408,3,NaN,NaN,9.0,5.0,55.56 %
616,8859,267,NaN,NaN,1071.0,572.0,53.41 %
754,8093,58,10.0,0.172414,1799.0,951.0,52.86 %

In [ ]:
m3 = m2.dropna()
print(m3.shape)
m3.head()

(140, 7)

,PRECINCT,count_SC,Count_Mail_Large,percentage_mailing_SC,Registered Voters,Ballots Cast,Voter Turnout
12,2019,775,208.0,0.268387,2944.0,1318.0,44.77 %
16,8702,769,137.0,0.178153,2828.0,1167.0,41.27 %
17,4685,768,159.0,0.207031,3408.0,1527.0,44.81 %
18,3417,767,9.0,0.011734,3764.0,1694.0,45.01 %
21,8657,765,164.0,0.214379,2721.0,1079.0,39.65 %

In [ ]:
m3.reset_index(drop=True,inplace=True)

In [ ]:
voter_turnout = []
for i in range (140):
  voter_turnout.append(float(m3['Voter Turnout'][i].replace("%", ""))/100)

In [ ]:
m3['Voter Turnout'] = voter_turnout

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
m3.corr()

,count_SC,Count_Mail_Large,percentage_mailing_SC,Registered Voters,Ballots Cast,Voter Turnout
count_SC,1.000000,0.720493,-0.257917,0.620193,0.570292,-0.128563
Count_Mail_Large,0.720493,1.000000,0.193816,0.418912,0.415459,-0.077572
percentage_mailing_SC,-0.257917,0.193816,1.000000,-0.172251,-0.120577,0.055510
Registered Voters,0.620193,0.418912,-0.172251,1.000000,0.951237,-0.150988
Ballots Cast,0.570292,0.415459,-0.120577,0.951237,1.000000,-0.092615
Voter Turnout,-0.128563,-0.077572,0.055510,-0.150988,-0.092615,1.000000

**The correlation between the percentage mailing Santa Clara and voter turnout is 0.05 which is almost no correlation for Mailling list large & Santa Clara county**

## CA-16PrimaryUniverse.csv

In [ ]:
CA_16PrimaryUniverse = pd.read_csv('CA-16PrimaryUniverse.csv')

In [ ]:
print(CA_16PrimaryUniverse.shape)
CA_16PrimaryUniverse.head()

(68139, 21)

,DRLINE,DRLINE2,HNAME1,HNAME2,HNAME3,HNAME4,HNAME5,MADDRESS1,MADDRESS2,MCITY,MSTATE,MZIP,MZIP4,PRECINCT,ELECTIONPRECINCT,POLLDESCRIPTION1,POLLDESCRIPTION2,POLLADDRESS1,CD,SD,AD
0,Susan Neuendorf,Susan,Susan Neuendorf,NaN,NaN,NaN,NaN,1019 Morton St,"Alameda, CA 94501",Alameda,CA,94501,3904,430002338,NaN,NaN,NaN,NaN,16,13,23
1,Elena Kanevsky,Elena,Elena Kanevsky,NaN,NaN,NaN,NaN,Parkspelsvagen 5,"Albany, NY 12240",Albany,NY,12240,1,430003423,NaN,NaN,NaN,NaN,16,13,23
2,Sara Silberstein,Sara,Sara Silberstein,NaN,NaN,NaN,NaN,466 Madison Ave Apt 4,"Albany, NY 12208",Albany,NY,12208,3923,430003781,NaN,NaN,NaN,NaN,16,13,28
3,Kami Sherpa,Kami,Kami Sherpa,NaN,NaN,NaN,NaN,820 Kains Ave Apt 101,"Albany, CA 94706",Albany,CA,94706,1670,430003850,NaN,NaN,NaN,NaN,16,13,23
4,Rosslyn Sullivan,Rosslyn,Rosslyn Sullivan,NaN,NaN,NaN,NaN,1100 San Pablo Ave Apt 357,"Albany, CA 94706",Albany,CA,94706,2339,430002746,NaN,NaN,NaN,NaN,16,13,28

In [ ]:
CA_16PrimaryUniverse_1 =['DRLINE','MADDRESS1','MCITY','MZIP','PRECINCT']
CA_16PrimaryUniverse_1 = pd.DataFrame(CA_16PrimaryUniverse,columns=CA_16PrimaryUniverse_1)
print(CA_16PrimaryUniverse_1.shape)
CA_16PrimaryUniverse_1.head()

(68139, 5)

             DRLINE                   MADDRESS1    MCITY   MZIP   PRECINCT
0   Susan Neuendorf              1019 Morton St  Alameda  94501  430002338
1    Elena Kanevsky            Parkspelsvagen 5   Albany  12240  430003423
2  Sara Silberstein       466 Madison Ave Apt 4   Albany  12208  430003781
3       Kami Sherpa       820 Kains Ave Apt 101   Albany  94706  430003850
4  Rosslyn Sullivan  1100 San Pablo Ave Apt 357   Albany  94706  430002746

In [ ]:
CA_16PrimaryUniverse_1.rename(columns = {'MADDRESS1':'ResidenceAddress', 'MCITY':'ResidenceCity',
                              'MZIP':'ResidenceZipCode'}, inplace = True)

In [ ]:
CA_16PrimaryUniverse_1.head()

In [ ]:
zip_code_CA_16 = [95130,95128,95125,95124,95070,95033,95032, 95030,95014, 95008, 94306, 94305, 94304, 94074, 94062, 94060, 94044, 94040, 94038, 94037, 94028, 94025, 94024,94022,94021,94020,94019]

In [ ]:
CA_16PrimaryUniverse_mapping_by_zip = CA_16PrimaryUniverse_1[CA_16PrimaryUniverse_1['ResidenceZipCode'].isin(zip_code_CA_16)]
print(CA_16PrimaryUniverse_mapping_by_zip.shape)
CA_16PrimaryUniverse_mapping_by_zip.head()

(50789, 5)

,DRLINE,ResidenceAddress,ResidenceCity,ResidenceZipCode,PRECINCT
849,Stephen Coates,591 W Hamilton Ave Ste 100,Campbell,95008,430002770
850,Richard Chattergoon or Shaheen Kanchwala,281 W Latimer Ave,Campbell,95008,430003817
851,William Bunch,385 Lawndale Ave,Campbell,95008,430003817
852,David Epstein or Alma Heckman,413 Lawndale Ave,Campbell,95008,430003817
853,James Judkins,40 N Milton Ave,Campbell,95008,430003817

In [ ]:
CA_16PrimaryUniverse_mapping_by_zip['PRECINCT'] = CA_16PrimaryUniverse_mapping_by_zip['PRECINCT'].astype(str)

### Santa Clara

In [ ]:
CA_16PrimaryUniverse_mapping_by_zip['PRECINCT']= CA_16PrimaryUniverse_mapping_by_zip["PRECINCT"].str[5:]
print (CA_16PrimaryUniverse_mapping_by_zip.shape)
CA_16PrimaryUniverse_mapping_by_zip.head()

In [ ]:
CA_16PrimaryUniverse_mapping_by_zip.reset_index(drop=True,inplace=True)

In [ ]:
print (CA_16PrimaryUniverse_mapping_by_zip.shape)
CA_16PrimaryUniverse_mapping_by_zip.head()

(50789, 5)

,DRLINE,ResidenceAddress,ResidenceCity,ResidenceZipCode,PRECINCT
0,Stephen Coates,591 W Hamilton Ave Ste 100,Campbell,95008,2770
1,Richard Chattergoon or Shaheen Kanchwala,281 W Latimer Ave,Campbell,95008,3817
2,William Bunch,385 Lawndale Ave,Campbell,95008,3817
3,David Epstein or Alma Heckman,413 Lawndale Ave,Campbell,95008,3817
4,James Judkins,40 N Milton Ave,Campbell,95008,3817

In [ ]:
for i in range (50789):
  if len(CA_16PrimaryUniverse_mapping_by_zip['PRECINCT'][i]) == 4:
    continue
  else:
    CA_16PrimaryUniverse_mapping_by_zip = CA_16PrimaryUniverse_mapping_by_zip.drop(i)
print(CA_16PrimaryUniverse_mapping_by_zip.shape)

(36149, 5)

In [ ]:
# count_CA_16PrimaryUniverse_mapping_by_zip = pd.DataFrame(CA_16PrimaryUniverse_mapping_by_zip['PRECINCT'].value_counts())
count_CA_16PrimaryUniverse_mapping_by_zip.head()

  PRECINCT  count_CA_16PrimaryUniverse_mapping_by_zip
0     2349                                        207
1     2313                                        205
2     2343                                        204
3     2341                                        195
4     2745                                        193

In [ ]:
count_CA_16PrimaryUniverse_mapping_by_zip.reset_index(inplace=True)

In [ ]:
count_CA_16PrimaryUniverse_mapping_by_zip.rename(columns = {'index':'PRECINCT', "PRECINCT":'count_CA_16PrimaryUniverse_mapping_by_zip'}, inplace = True)

In [ ]:
SC_County_merge_CA_16PrimaryUniverse_mapping= pd.merge(Santa_Clara_mapping_by_precinct, count_CA_16PrimaryUniverse_mapping_by_zip, how = 'left')

In [ ]:
print(SC_County_merge_CA_16PrimaryUniverse_mapping.shape)
SC_County_merge_CA_16PrimaryUniverse_mapping.head()

(912, 3)

  PRECINCT  count_SC  count_CA_16PrimaryUniverse_mapping_by_zip
0     8429       834                                        NaN
1     3408       805                                       15.0
2     3845       804                                      150.0
3     2081       792                                        NaN
4     8230       791                                        NaN

In [ ]:
percentage_mailing_SC_CA_16PrimaryUniverse_mapping = []
for i in range (912): 
  percentage_mailing_SC_CA_16PrimaryUniverse_mapping.append(SC_County_merge_CA_16PrimaryUniverse_mapping['count_CA_16PrimaryUniverse_mapping_by_zip'][i]/SC_County_merge_CA_16PrimaryUniverse_mapping['count_SC'][i])

In [ ]:
SC_County_merge_CA_16PrimaryUniverse_mapping['percentage_mailling'] = percentage_mailing_SC_CA_16PrimaryUniverse_mapping
print(SC_County_merge_CA_16PrimaryUniverse_mapping.shape)
SC_County_merge_CA_16PrimaryUniverse_mapping.sort_values("count_CA_16PrimaryUniverse_mapping_by_zip", ascending=False).head()

(912, 4)

,PRECINCT,count_SC,count_CA_16PrimaryUniverse_mapping_by_zip,percentage_mailling
72,2349,714,207.0,0.289916
24,2313,761,205.0,0.269382
14,2343,771,204.0,0.264591
83,2341,706,195.0,0.276204
71,2745,717,193.0,0.269177

In [ ]:
merge_voter_result_primaryuniverse= pd.merge(SC_County_merge_CA_16PrimaryUniverse_mapping, voter_result, how = 'left')
print(merge_voter_result_primaryuniverse.shape)
merge_voter_result_primaryuniverse.head()

(912, 7)

,PRECINCT,count_SC,count_CA_16PrimaryUniverse_mapping_by_zip,percentage_mailling,Registered Voters,Ballots Cast,Voter Turnout
0,8429,834,NaN,NaN,NaN,NaN,NaN
1,3408,805,15.0,0.018634,NaN,NaN,NaN
2,3845,804,150.0,0.186567,NaN,NaN,NaN
3,2081,792,NaN,NaN,NaN,NaN,NaN
4,8230,791,NaN,NaN,NaN,NaN,NaN

In [ ]:
merge_voter_result_primaryuniverse3_drop_nan = merge_voter_result_primaryuniverse.dropna()
print(merge_voter_result_primaryuniverse3_drop_nan.shape)
merge_voter_result_primaryuniverse3_drop_nan.head()

(128, 7)

,PRECINCT,count_SC,count_CA_16PrimaryUniverse_mapping_by_zip,percentage_mailling,Registered Voters,Ballots Cast,Voter Turnout
12,2019,775,153.0,0.197419,2944.0,1318.0,44.77 %
16,8702,769,102.0,0.132640,2828.0,1167.0,41.27 %
17,4685,768,44.0,0.057292,3408.0,1527.0,44.81 %
18,3417,767,6.0,0.007823,3764.0,1694.0,45.01 %
21,8657,765,134.0,0.175163,2721.0,1079.0,39.65 %

In [ ]:
merge_voter_result_primaryuniverse3_drop_nan.reset_index(drop=True,inplace=True)

In [ ]:
voter_turnout_primary = []
for i in range (128):
  voter_turnout_primary.append(float(merge_voter_result_primaryuniverse3_drop_nan['Voter Turnout'][i].replace("%", ""))/100)

In [ ]:
merge_voter_result_primaryuniverse3_drop_nan['Voter Turnout'] = voter_turnout_primary

In [ ]:
merge_voter_result_primaryuniverse3_drop_nan.corr()

,count_SC,count_CA_16PrimaryUniverse_mapping_by_zip,percentage_mailling,Registered Voters,Ballots Cast,Voter Turnout
count_SC,1.000000,0.645145,-0.214205,0.605605,0.565144,-0.133628
count_CA_16PrimaryUniverse_mapping_by_zip,0.645145,1.000000,0.454919,0.358319,0.358034,-0.073501
percentage_mailling,-0.214205,0.454919,1.000000,-0.131402,-0.092409,0.133036
Registered Voters,0.605605,0.358319,-0.131402,1.000000,0.959564,-0.153901
Ballots Cast,0.565144,0.358034,-0.092409,0.959564,1.000000,-0.104331
Voter Turnout,-0.133628,-0.073501,0.133036,-0.153901,-0.104331,1.000000

**The correlation between the percentage mailing Santa Clara and voter turnout is 0.133036 which is almost no correlation for Mailling Primary Universe & Santa Clara county**

# Convert to csv files

In [ ]:
CA_16_Mail_List_Large = pd.read_excel('CA-16PrimaryUniverse.xlsx')

people from east bay

In [ ]:
CA_16_Mail_List_Large.head()

,DRLINE,DRLINE2,HNAME1,HNAME2,HNAME3,HNAME4,HNAME5,MADDRESS1,MADDRESS2,MCITY,...,MZIP,MZIP4,PRECINCT,ELECTIONPRECINCT,POLLDESCRIPTION1,POLLDESCRIPTION2,POLLADDRESS1,CD,SD,AD
0,Susan Neuendorf,Susan,Susan Neuendorf,NaN,NaN,NaN,NaN,1019 Morton St,"Alameda, CA 94501",Alameda,...,94501,3904,430002338,NaN,NaN,NaN,NaN,16,13,23
1,Elena Kanevsky,Elena,Elena Kanevsky,NaN,NaN,NaN,NaN,Parkspelsvagen 5,"Albany, NY 12240",Albany,...,12240,1,430003423,NaN,NaN,NaN,NaN,16,13,23
2,Sara Silberstein,Sara,Sara Silberstein,NaN,NaN,NaN,NaN,466 Madison Ave Apt 4,"Albany, NY 12208",Albany,...,12208,3923,430003781,NaN,NaN,NaN,NaN,16,13,28
3,Kami Sherpa,Kami,Kami Sherpa,NaN,NaN,NaN,NaN,820 Kains Ave Apt 101,"Albany, CA 94706",Albany,...,94706,1670,430003850,NaN,NaN,NaN,NaN,16,13,23
4,Rosslyn Sullivan,Rosslyn,Rosslyn Sullivan,NaN,NaN,NaN,NaN,1100 San Pablo Ave Apt 357,"Albany, CA 94706",Albany,...,94706,2339,430002746,NaN,NaN,NaN,NaN,16,13,28

In [ ]:
CA_16_Mail_List_Large.shape

(68139, 21)

In [ ]:
CA_16_Mail_List_Large.to_csv ("CA-16PrimaryUniverse.csv", 
                  index = None,
                  header=True)
    
# read csv file and convert 
# into a dataframe object
df = pd.DataFrame(pd.read_csv("CA-16PrimaryUniverse.csv"))