<a href="https://colab.research.google.com/github/ElinorZhang0/ElinorZhang0/blob/main/Primary_Analysis_ethnicity_(website_data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 9.1 MB/s
Collecting distro
  Downloading distro-1.7.0-py3-none-any.whl (20 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.7.0 tabula-py-2.3.0

In [ ]:
import pandas as pd
from pprint import pprint
from pandas import Series, DataFrame
from pathlib import Path
import glob
from numpy.lib import type_check
import os
import pyarrow.parquet as pq
import matplotlib.pyplot as plt 
import tabula

In [ ]:
from google.colab import drive
# If drive is not already mounted: 
if not Path('/content/drive').exists():
  drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
os.chdir("/content/drive/Shareddrives/Modeling Files/CD16 List/Santa Clara Voter Data")

In [ ]:
ls

MVMJ004_Cust_20220216_090728_16thCongDist.parquet  OneDrive_2_2-17-2022.zip
MVMJ004_Hist_20220216_091049_16thCongDist.parquet  Santa_Clara_Voter_Data.csv

In [ ]:
Santa_Clara_Voter_Data=pd.read_csv('Santa_Clara_Voter_Data.csv')
pd.options.display.max_columns = None
pd.options.display.max_rows = None
print(Santa_Clara_Voter_Data.shape)
Santa_Clara_Voter_Data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (13,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(353786, 62)

,lVoterUniqueID,sAffNumber,szStateVoterID,sVoterTitle,szNameLast,szNameFirst,szNameMiddle,sNameSuffix,sGender,szSitusAddress,szSitusCity,sSitusState,sSitusZip,sHouseNum,sUnitAbbr,sUnitNum,szStreetName,sStreetSuffix,sPreDir,sPostDir,szMailAddress1,szMailAddress2,szMailAddress3,szMailAddress4,szMailZip,szPhone,szEmailAddress,dtBirthDate,sBirthPlace,dtRegDate,dtOrigRegDate,dtLastUpdate_dt,sStatusCode,szStatusReasonDesc,sUserCode1,sUserCode2,iDuplicateIDFlag,szLanguageName,szPartyName,szAVStatusAbbr,szAVStatusDesc,szPrecinctName,sPrecinctID,sPrecinctPortion,sDistrictID_0,iSubDistrict_0,szDistrictName_0,sDistrictID_1,iSubDistrict_1,szDistrictName_1,sDistrictID_2,iSubDistrict_2,szDistrictName_2,sDistrictID_3,iSubDistrict_3,szDistrictName_3,sDistrictID_4,iSubDistrict_4,szDistrictName_4,sDistrictID_5,iSubDistrict_5,szDistrictName_5
0,70633,65BU165715,NaN,NaN,Jones,Loretta,Lynn,NaN,NaN,1489 Carrington Cir,San Jose,CA,95125,1489,NaN,NaN,Carrington,Cir,NaN,NaN,1489 Carrington Cir,San Jose CA 95125,NaN,NaN,95125,(925)487-4281,lljones1184@yahoo.com,12/12/1959,NV,12/24/2018,05/26/1988,01/22/2019,A,CA StatewideOnline Reg - Update,NaN,NaN,0.0,NonRespond,Democratic,Perm VBM,Permanent Vote by Mail Voter,PCT 8622,8622,NaN,*0,0,County of Santa Clara,CG016,0,16th Congressional District,SS015,0,15th Senatorial District,SA028,0,28th Assembly District,*404,0,4th Supervisorial District,*520,9.0,San Jose-Council District 9
1,1009844,65CB365500,NaN,NaN,Nielsen,Karyn,Lyn,NaN,NaN,1493 Carrington Cir,San Jose,CA,95125,1493,NaN,NaN,Carrington,Cir,NaN,NaN,1493 Carrington Cir,San Jose CA 95125,NaN,NaN,95125,(408)264-5253,NaN,07/03/1969,CA,04/14/2020,07/15/1993,04/16/2020,A,CA StatewideOnline Reg - Update,NaN,NaN,0.0,English,Democratic,Perm VBM,Permanent Vote by Mail Voter,PCT 8622,8622,NaN,*0,0,County of Santa Clara,CG016,0,16th Congressional District,SS015,0,15th Senatorial District,SA028,0,28th Assembly District,*404,0,4th Supervisorial District,*520,9.0,San Jose-Council District 9
2,2569637,43TA660731,NaN,Miss,Bazzazi,Marjan,NaN,NaN,NaN,1457 Carrington Cir,San Jose,CA,95125,1457,NaN,NaN,Carrington,Cir,NaN,NaN,1457 Carrington Cir,San Jose CA 95125,NaN,NaN,95125,(801)815-5249,marjanbaz@gmail.com,12/19/1982,IR,03/21/2019,01/12/2016,03/26/2019,A,Reregistration no changes,NaN,NaN,0.0,English,No Party Preference,Perm VBM,Permanent Vote by Mail Voter,PCT 8622,8622,NaN,*0,0,County of Santa Clara,CG016,0,16th Congressional District,SS015,0,15th Senatorial District,SA028,0,28th Assembly District,*404,0,4th Supervisorial District,*520,9.0,San Jose-Council District 9
3,2900985,65CL640796,NaN,NaN,Ahmadi,Mahmoud,Reza,NaN,NaN,1457 Carrington Cir,San Jose,CA,95125,1457,NaN,NaN,Carrington,Cir,NaN,NaN,1457 Carrington Cir,San Jose CA 95125,NaN,NaN,95125,(617)466-9412,mrahmadi@umn.edu,03/24/1978,IR,09/11/2021,03/21/2019,09/14/2021,A,CA StatewideOnline Reg - Update,NaN,NaN,0.0,English,American Independent,NaN,NaN,PCT 8622,8622,NaN,*0,0,County of Santa Clara,CG016,0,16th Congressional District,SS015,0,15th Senatorial District,SA028,0,28th Assembly District,*404,0,4th Supervisorial District,*520,9.0,San Jose-Council District 9
4,2185012,65BU971459,NaN,NaN,Murison,Ashley,Janette,NaN,NaN,1473 Carrington Cir,San Jose,CA,95125,1473,NaN,NaN,Carrington,Cir,NaN,NaN,1473 Carrington Cir,San Jose CA 95125,NaN,NaN,95125,(408)505-0046,ashley.j.murison@gmail.com,01/11/1988,CA,07/01/2019,05/02/2008,08/27/2019,A,Third Party Change Of Address (In-County),NaN,NaN,0.0,English,Democratic,Perm VBM,Permanent Vote by Mail Voter,PCT 8622,8622,NaN,*0,0,County of Santa Clara,CG016,0,16th Congressional District,SS015,0,15th Senatorial District,SA028,0,28th Assembly District,*404,0,4th Supervisorial District,*520,9.0,San Jose-Council District 9

# CD_16 ethnic stats (new)

In [ ]:
pdf=tabula.read_pdf('CD_Proposed_Final_Stats_(1).pdf',pages='all')
pdf

In [ ]:
# CD16_stats
CD_16_Stats = {'District': [16], 'Total Population': [760067], 'Deviation': [1],'% Deviation': [0],'%Latino CVAP': [13.68],'%Black CVAP': [2.46],'%Asian CVAP': [25.45],'%White CVAP': [56.69]}
CD_16_Stats_table = pd.DataFrame(data =CD_16_Stats)
CD_16_Stats_table

,District,Total Population,Deviation,% Deviation,%Latino CVAP,%Black CVAP,%Asian CVAP,%White CVAP
0,16,760067,1,0,13.68,2.46,25.45,56.69

# San Mateo | Santa Clara county ethnic stats (old)

## Data Clean

In [ ]:
# read table 
counties_summary=pd.read_csv('PL94_2020_Adjusted_P24_DOJ_counties_summary.csv')
pd.options.display.max_columns = None
pd.options.display.max_rows = None
print(counties_summary.shape)
counties_summary.head()

(59, 160)

,COUNTY20,NAME,Population,Hispanic Origin,Not Hispanic,NH_1 Race,NH_Wht,NH_Blk,NH_Ind,NH_Asn,NH_Hwn,NH_Oth,NH_2+ Races,NH_2 Races,NH_WhtBlk,NH_WhtInd,NH_WhtAsn,NH_WhtHwn,NH_WhtOth,NH_BlkInd,NH_BlkAsn,NH_BlkHwn,NH_BlkOth,NH_IndAsn,NH_IndHwn,NH_IndOth,NH_AsnHwn,NH_AsnOth,NH_HwnOth,NH_3 Races,NH_WhtBlkInd,NH_WhtBlkAsn,NH_WhtBlkHwn,NH_WhtBlkOth,NH_WhtIndAsn,NH_WhtIndHwn,NH_WhtIndOth,NH_WhtAsnHwn,NH_WhtAsnOth,NH_WhtHwnOth,NH_BlkIndAsn,NH_BlkIndHwn,NH_BlkIndOth,NH_BlkAsnHwn,NH_BlkAsnOth,NH_BlkHwnOth,NH_IndAsnHwn,NH_IndAsnOth,NH_IndHwnOth,NH_AsnHwnOth,NH_4 Races,NH_WhtBlkIndAsn,NH_WhtBlkIndHwn,NH_WhtBlkIndOth,NH_WhtBlkAsnHwn,NH_WhtBlkAsnOth,NH_WhtBlkHwnOth,NH_WhtIndAsnHwn,NH_WhtIndAsnOth,NH_WhtIndHwnOth,NH_WhtAsnHwnOth,NH_BlkIndAsnHwn,NH_BlkIndAsnOth,NH_BlkIndHwnOth,NH_BlkAsnHwnOth,NH_IndAsnHwnOth,NH_5 Races,NH_WhtBlkIndAsnHwn,NH_WhtBlkIndAsnOth,NH_WhtBlkIndHwnOth,NH_WhtBlkAsnHwnOth,NH_WhtIndAsnHwnOth,NH_BlkIndAsnHwnOth,NH_6 Races,NH_WhtBlkIndAsnHwnOth,18+_Population,H18+_Pop,NH18+_Pop,NH18+_1 Race,NH18+_Wht,NH18+_Blk,NH18+_Ind,NH18+_Asn,NH18+_Hwn,NH18+_Oth,NH18+_2+ Races,NH18+_2 Races,NH18+_WhtBlk,NH18+_WhtInd,NH18+_WhtAsn,NH18+_WhtHwn,NH18+_WhtOth,NH18+_BlkInd,NH18+_BlkAsn,NH18+_BlkHwn,NH18+_BlkOth,NH18+_IndAsn,NH18+_IndHwn,NH18+_IndOth,NH18+_AsnHwn,NH18+_AsnOth,NH18+_HwnOth,NH18+_3 Races,NH18+_WhtBlkInd,NH18+_WhtBlkAsn,NH18+_WhtBlkHwn,NH18+_WhtBlkOth,NH18+_WhtIndAsn,NH18+_WhtIndHwn,NH18+_WhtIndOth,NH18+_WhtAsnHwn,NH18+_WhtAsnOth,NH18+_WhtHwnOth,NH18+_BlkIndAsn,NH18+_BlkIndHwn,NH18+_BlkIndOth,NH18+_BlkAsnHwn,NH18+_BlkAsnOth,NH18+_BlkHwnOth,NH18+_IndAsnHwn,NH18+_IndAsnOth,NH18+_IndHwnOth,NH18+_AsnHwnOth,NH18+_4 Races,NH18+_WhtBlkIndAsn,NH18+_WhtBlkIndHwn,NH18+_WhtBlkIndOth,NH18+_WhtBlkAsnHwn,NH18+_WhtBlkAsnOth,NH18+_WhtBlkHwnOth,NH18+_WhtIndAsnHwn,NH18+_WhtIndAsnOth,NH18+_WhtIndHwnOth,NH18+_WhtAsnHwnOth,NH18+_BlkIndAsnHwn,NH18+_BlkIndAsnOth,NH18+_BlkIndHwnOth,NH18+_BlkAsnHwnOth,NH18+_IndAsnHwnOth,NH18+_5 Races,NH18+_WhtBlkIndAsnHwn,NH18+_WhtBlkIndAsnOth,NH18+_WhtBlkIndHwnOth,NH18+_WhtBlkAsnHwnOth,NH18+_WhtIndAsnHwnOth,NH18+_BlkIndAsnHwnOth,NH18+_6 Races,NH18+_WhtBlkIndAsnHwnOth,DOJ_NH_Blk,DOJ_NH_Ind,DOJ_NH_Asn,DOJ_NH_Hwn,DOJ_NH_Oth,DOJ_NH_OthMR,DOJ_NH18+_Blk,DOJ_NH18+_Ind,DOJ_NH18+_Asn,DOJ_NH18+_Hwn,DOJ_NH18+_Oth,DOJ_NH18+_OthMR
0,999,Statewide,39523437,15571928,23951509,22325643,13709273,2116414,155342,5978113,138209,228292,1625866,1498605,220143,270323,563174,37894,223460,29526,46240,7524,28384,7319,1376,1867,44154,13280,3941,114186,29147,19639,2617,7241,13728,2114,2088,25760,3812,422,1805,414,984,2101,955,256,456,90,23,534,11699,4292,631,1946,1453,820,86,1530,206,31,329,161,102,35,62,15,1246,682,406,65,71,21,1,130,130,30812349,11075636,19736713,18662477,11667542,1691462,121917,4905619,109222,166715,1074236,997179,130905,217660,318921,25661,173500,23435,25726,3938,22636,5265,985,1417,35182,8679,3269,69095,20654,8462,1145,4772,7545,1274,1672,16396,2167,254,1127,237,785,1099,565,134,310,72,17,408,7025,2613,355,1424,627,459,46,876,140,23,192,105,79,22,50,14,833,455,288,40,32,18,0,104,104,2336557,425665,6541287,176103,451752,310872,1822367,339577,5224540,134883,340215,207589
1,1,Alameda County,1683468,393678,1289790,1201259,472111,160796,4064,540504,13225,10559,88531,80787,11936,7032,37058,1921,9261,2221,3799,565,1373,452,92,59,3343,1125,550,6897,1803,1394,116,417,710,92,67,1444,315,15,105,17,71,156,72,13,25,7,3,55,750,300,27,120,99,71,2,78,5,0,27,14,3,0,1,3,92,48,23,7,7,7,0,5,5,1339503,286104,1053399,995872,410013,132507,3251,431941,10371,7789,57527,52708,7762,5968,20670,1375,7303,1834,2101,331,1126,276,83,49,2660,709,461,4279,1369,575,64,279,415,60,58,942,179,4,66,8,63,83,43,1,24,7,0,39,472,179,22,92,41,43,2,59,5,0,8,14,3,0,1,3,63,28,21,0,7,7,0,5,5,172732,11096,577562,15146,19820,21323,140269,9219,452611,11746,15092,14449
2,3,Alpine County,1207,84,1123,1047,801,12,215,12,0,7,76,56,5,10,4,1,25,5,0,1,0,1,0,1,2,1,0,15,2,0,3,0,0,2,0,0,4,1,0,0,1,1,0,0,0,1,0,0,4,2,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1012,62,950,918,726,11,163,11,0,7,32,26,5,1,0,1,18,0,0,0,0,0,0,0,0,1,0,5,1,0,0,0,0,0,0,0,3,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,225,16,1,32,31,16,164,11,1,25,7
3,5,Amador County,36592,4716,31876,29865,28289,263,512,504,68,229,2011,1894,139,973,260,52,417,13,5,0,2,9,2,9,12,1,0,105,24,4,0,6,29,7,2,22,0,0,0,0,0,8,1,0,0,0,0,2,9,0,2,0,1,0,1,0,0,0,0,5,0,0,0,0,3,0,2,1,0,0,0,0,0,30160,3245,26915,25429,24143,225,386,427,50,198,1486,1418,87,751,159,40,343,9,0,0,1,7,0,9,11,1,0,59,13,1,0,6,12,7,0,12,0,0,0,0,0,5,1,0,0,0,0,2,6,0,2,0,0,0,1,0,0,0,0,3,0,0,0,0,3,0,2,1,0,0,0,0,0,402,1485,764,120,646,170,312,1137,586,90,541,106
4,7,Butte County,212549,40243,172306,158832,140264,3422,3089,10342,509,1206,13474,12581,1537,5837,2174,348,2129,127,80,22,55,50,21,21,154,25,1,824,263,87,16,37,122,45,31,170,15,2,6,0,16,4,2,0,5,0,0,3,55,23,2,10,1,0,0,16,3,0,0,0,0,0,0,0,14,5,6,0,3,0,0,0,0,169256,28556,140700,131469,117241,2708,2356,7837,417,910,9231,8761,776,4390,1334,234,1637,79,50,11,39,31,18,18,120,23,1,443,144,44,1,24,49,26,25,100,4,2,0,0,12,4,0,0,5,0,0,3,19,5,1,5,1,0,0,7,0,0,0,0,0,0,0,0,8,5,3,0,0,0,0,0,0,4959,8926,12516,857,3335,1449,3484,6746,9171,651,2547,860

In [ ]:
counties_summary.columns

Index(['COUNTY20', 'NAME', 'Population', 'Hispanic Origin', 'Not Hispanic',
       'NH_1 Race', 'NH_Wht', 'NH_Blk', 'NH_Ind', 'NH_Asn',
       ...
       'DOJ_NH_Asn', 'DOJ_NH_Hwn', 'DOJ_NH_Oth', 'DOJ_NH_OthMR',
       'DOJ_NH18+_Blk', 'DOJ_NH18+_Ind', 'DOJ_NH18+_Asn', 'DOJ_NH18+_Hwn',
       'DOJ_NH18+_Oth', 'DOJ_NH18+_OthMR'],
      dtype='object', length=160)

In [ ]:
col = ['COUNTY20','NAME','Population','Hispanic Origin','Not Hispanic','NH_1 Race', 'NH_Wht', 'NH_Blk', 'NH_Ind', 'NH_Asn', 'NH_Hwn','NH_Oth']
counties_summary_one_race = pd.DataFrame(counties_summary,columns=col)
print(counties_summary_one_race.shape,type(counties_summary_one_race))
counties_summary_one_race.head()

(59, 12) <class 'pandas.core.frame.DataFrame'>

,COUNTY20,NAME,Population,Hispanic Origin,Not Hispanic,NH_1 Race,NH_Wht,NH_Blk,NH_Ind,NH_Asn,NH_Hwn,NH_Oth
0,999,Statewide,39523437,15571928,23951509,22325643,13709273,2116414,155342,5978113,138209,228292
1,1,Alameda County,1683468,393678,1289790,1201259,472111,160796,4064,540504,13225,10559
2,3,Alpine County,1207,84,1123,1047,801,12,215,12,0,7
3,5,Amador County,36592,4716,31876,29865,28289,263,512,504,68,229
4,7,Butte County,212549,40243,172306,158832,140264,3422,3089,10342,509,1206

In [ ]:
col1 = ['NAME','Hispanic Origin','NH_Wht', 'NH_Blk', 'NH_Ind', 'NH_Asn', 'NH_Hwn','NH_Oth']
counties_summary_one_race_stats = pd.DataFrame(counties_summary,columns=col1)
print(counties_summary_one_race_stats.shape)
counties_summary_one_race_stats.head()

(59, 8)

,NAME,Hispanic Origin,NH_Wht,NH_Blk,NH_Ind,NH_Asn,NH_Hwn,NH_Oth
0,Statewide,15571928,13709273,2116414,155342,5978113,138209,228292
1,Alameda County,393678,472111,160796,4064,540504,13225,10559
2,Alpine County,84,801,12,215,12,0,7
3,Amador County,4716,28289,263,512,504,68,229
4,Butte County,40243,140264,3422,3089,10342,509,1206

## Santa Clara

In [ ]:
Santa_Clara_County = counties_summary_one_race_stats.loc[counties_summary_one_race['NAME']=='Santa Clara County']
Santa_Clara_County

,NAME,Hispanic Origin,NH_Wht,NH_Blk,NH_Ind,NH_Asn,NH_Hwn,NH_Oth
43,Santa Clara County,489445,556386,42776,3278,753541,5968,10479

In [ ]:
Santa_Clara_County = Santa_Clara_County.set_index('NAME')
Santa_Clara_County_percentage = Santa_Clara_County.div(Santa_Clara_County.sum(axis=1)/100, axis=0) 
Santa_Clara_County_percentage = Santa_Clara_County_percentage.rename(columns={'NH_Blk': '%Black CVAP','NH_Wht': '%White CVAP','NH_Asn': '%Asian CVAP'})
Santa_Clara_County_percentage

,Hispanic Origin,%White CVAP,%Black CVAP,NH_Ind,%Asian CVAP,NH_Hwn,NH_Oth
NAME,,,,,,,
Santa Clara County,26.287776,29.883134,2.297471,0.176059,40.472202,0.320537,0.56282

In [ ]:
CD_16_Stats_table

,District,Total Population,Deviation,% Deviation,%Latino CVAP,%Black CVAP,%Asian CVAP,%White CVAP
0,16,760067,1,0,13.68,2.46,25.45,56.69

## San Mateo

In [ ]:
San_Mateo_County = counties_summary_one_race_stats.loc[counties_summary_one_race['NAME']=='San Mateo County']
San_Mateo_County

,NAME,Hispanic Origin,NH_Wht,NH_Blk,NH_Ind,NH_Asn,NH_Hwn,NH_Oth
41,San Mateo County,191778,276085,14946,1028,227825,8869,5917

In [ ]:
San_Mateo_County =San_Mateo_County.set_index('NAME')
San_Mateo_County_percentage = San_Mateo_County.div(San_Mateo_County.sum(axis=1)/100, axis=0) 
San_Mateo_County_percentage = San_Mateo_County_percentage.rename(columns={'NH_Blk': '%Black CVAP','NH_Wht': '%White CVAP','NH_Asn': '%Asian CVAP'})
San_Mateo_County_percentage

,Hispanic Origin,%White CVAP,%Black CVAP,NH_Ind,%Asian CVAP,NH_Hwn,NH_Oth
NAME,,,,,,,
San Mateo County,26.399412,38.004785,2.057408,0.14151,31.361501,1.220872,0.814511